@font-face{font-family:'FontAwesome';src:url("../fonts/FontAwesome/fontawesome-webfont.eot?v=3.2.1");src:url("../fonts/FontAwesome/fontawesome-webfont.eot?#iefix&v=3.2.1") format('embedded-opentype'),url("../fonts/FontAwesome/fontawesome-webfont.woff?v=3.2.1") format('woff'),url("../fonts/FontAwesome/fontawesome-webfont.ttf?v=3.2.1") format('truetype'),url("../fonts/FontAwesome/fontawesome-webfont.svg#fontawesomeregular?v=3.2.1") format('svg');font-weight:normal;font-style:normal}
@font-face{font-family:'FranchiseBold';src:url("../fonts/FranchiseBold/franchise-bold-webfont.eot");src:url("../fonts/FranchiseBold/franchise-bold-webfont.eot?#iefix") format('embedded-opentype'),url("../fonts/FranchiseBold/franchise-bold-webfont.woff") format('woff'),url("../fonts/FranchiseBold/franchise-bold-webfont.ttf") format('truetype'),url("../fonts/FranchiseBold/franchise-bold-webfont.svg#franchisebold") format('svg');font-weight:normal;font-style:normal}
html,body{width:100%;height:100%;margin:0;padding:0}
.clear{clear:both}
.hexagon{overflow:hidden;width:278px;height:319.7px;}
.hexagon .hexagon-in1{width:100%;height:100%;overflow:hidden;-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);transform:rotate(180deg)}
.hexagon .hexagon-in2{width:100%;height:100%;overflow:hidden;-webkit-transform:rotate(-60deg);-moz-transform:rotate(-60deg);-o-transform:rotate(-60deg);-webkit-transform:rotate(-60deg);-moz-transform:rotate(-60deg);-o-transform:rotate(-60deg);-ms-transform:rotate(-60deg);transform:rotate(-60deg)}
.hexagon .hexagon-in3{margin-top:58%;margin-left:50%;width:0;height:0;}
.hexagon .hexagon-in3 img{margin-top:-160px;margin-left:-160px}
#tab-hello{-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;background:#2a363b;color:#ecf0f1;width:100%;height:100%;min-height:100%;display:table;text-align:center;}
#tab-hello .wrapper-vertical{display:table-cell;vertical-align:middle}
#tab-hello .wrapper-horizontal{display:inline-block}
#tab-hello #avatar{margin:auto;margin-top:10px}
#tab-hello #hello #title{font-size:128px;font-family:'FranchiseBold';text-transform:uppercase}
#tab-hello #hello #description{font-family:'Lato';font-size:20px}
#tab-hello #hello #social{font-family:'FontAwesome';margin-bottom:30px;}
#tab-hello #hello #social a{color:#ecf0f1;font-size:64px;line-height:75px;margin-right:25px}
#tab-hello #hello #social a:visited{color:#7f8c8d}
#tab-hello #hello #social a:hover{color:#bdc3c7}
@media only screen and (min-width: 900px){#tab-hello #hello,#tab-hello #avatar{float:left}
#tab-hello #avatar{margin-top:0}
#tab-hello #hello{margin-left:32px;}
#tab-hello #hello #title{margin-top:28px}
#tab-hello #hello #social{margin-bottom:0}
#tab-hello #hello #title,#tab-hello #hello #description,#tab-hello #hello #social{text-align:left}
}