@import 'config'

#tab-hello
  user-select none
  background blackish
  color clouds
  width 100%
  height 100%
  min-height 100%
  display table
  text-align center
  
  .wrapper-vertical
    display table-cell
    vertical-align middle
  .wrapper-horizontal
    display inline-block
  #avatar
    margin auto
  #hello
    #title
      font-size 128px
      margin-top 10px
      font-family 'FranchiseBold'
      text-transform uppercase
    #description
      font-family 'Fabrica'
      font-size 16px
    #social
      font-family 'FontAwesome'
      margin-bottom 30px
      a
        color clouds
        font-size 64px
        line-height 75px
        margin-right 25px
      a:visited
        color asbestos
      a:hover
        color silver

@media only screen and (min-width: 900px)
  #tab-hello
    #hello,#avatar
      float left
    #hello
      margin-left 32px
      #title
        margin-top 28px
      #social
        margin-bottom 0px
      #title,#description,#social
        text-align left
    
    
  
