#tab-red-studio
  width 100%
  height 100%
  background #6f2525

  .artworks, .ground
    background #a03535
    padding 5px
    
  .artworks
    margin-bottom -60px

  .art-1
    padding 0 25px 10px 25px
  .art-2
    padding 0 25px 30px 25px
  .art-3
    padding 0 50px 5px 0
  .art-4
    padding 0 50px 20px 0
  .art-5
    padding 0 20px 25px 30px
  .art-6
    padding 0 10px 0px 40px
  .art-7
    padding 0 25px 15px 25px

  .floor
    min-height 50px
    margin-top -25px
    background #6f2525