@import 'config'

#tab-hello
  user-select none
  background blackish
  color clouds
  width 100%
  height 100%
  min-height 100%
  display table
  text-align center
  
  .wrapper-vertical
    display table-cell
    vertical-align middle
  .wrapper-horizontal
    display inline-block
    overflow hidden
  #avatar
    margin auto
    margin-top 20px
    height 320px
    width 320px
    border-radius 160px
  #hello
    animation fadein 2s
    #title
      font-size 128px
      font-family 'FranchiseBold'
      text-transform uppercase
    #description
      font-size 20px
    #social
      font-family 'FontAwesome'
      margin-bottom 30px
      a
        color clouds
        font-size 64px
        line-height 75px
        margin-right 25px
      a:visited
        color asbestos
      a:hover
        color silver
.no-js #avatar, #avatar.loaded
  background: url("http://gravatar.com/avatar/21fc27a2ac6cd9094a423997f0344a0b?s=320") no-repeat;  
  animation fadein 2s

@media only screen and (min-width: 900px)
  #tab-hello
    #hello,#avatar
      float left
    #avatar
      margin-top 0px
    #hello
      margin-left 32px
      #title
        margin-top 28px
      #social
        margin-bottom 0px
      #title,#description,#social
        text-align left
    
    
  
