@import "../../style/colors";

.menu {
  a {
    display: block;
    width: 250px;
    height: 250px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-decoration: none;
    color: white;
    font-family: 'Open Sans';
    font-size: 20px;
    padding:5px;
    font-weight: 800;
    text-transform: uppercase;
    transition: width 0.2s, height 0.2s
  }
  a:hover {
    width: 300px;
    height: 300px;
  }
  a.active {
    display:none;
  }
  .contact {
    background: @nearly_black;
    transform: translate(-50%, -50%) rotate(-45deg);
  }
  .contact:hover {
    background: @dark_grey;
  }
  .bio {
    background: @belize_hole;
    top: auto;
    bottom: 0;
    align-items: flex-start;
    transform: translate(-50%, 50%) rotate(45deg);
  }
  .bio:hover {
    background: @peter_river;
  }
  .blog {
    background: @nephritis;
    left: auto;
    right: 0;
    transform: translate(50%, -50%) rotate(45deg);
  }
  .blog:hover {
    background: @emerald;
  }
  .projects {
    background: @red_wall;
    top: auto;
    left: auto;
    right: 0;
    bottom: 0;
    align-items: flex-start;
    transform: translate(50%, 50%) rotate(-45deg);
  }
  .projects:hover {
    background: lighten(@red_wall, 5);
  }
}
.menu.bio{
  a {
    background: darken(@belize_hole, 10);
  }
  a:hover {
    background: darken(@belize_hole, 5);
  }
}
.menu.projects{
  a {
    background: darken(@red_wall, 10);
  }
  a:hover {
    background: darken(@red_wall, 5);
  }
}
.menu.blog{
  a {
    background: darken(@nephritis, 10);
  }
  a:hover {
    background: darken(@nephritis, 5);
  }
}


@media (max-width: 599px) {
  .menu a {
    width: 120px;
    height: 120px;
    font-size: 12px;
  }
  .menu a:hover {
    width: 170px;
    height: 170px;
  }
}
