@import "../../style/colors";
@import "../../style/animations";

.contact {
  background: @nearly_black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  .avatar {
    margin: auto;
    margin-top: -310px;
    margin-bottom: 30px;
    height: 280px;
    width: 280px;
    border-radius: 140px;
    background-clip: padding-box;
  }
  .avatar.loaded, .no-js .avatar{
    background: @asbestos url("https://gravatar.com/avatar/21fc27a2ac6cd9094a423997f0344a0b?s=280") no-repeat;
    animation-name: fadeIn;
    animation-duration: 0.2s;
  }
  .social a:hover {
    border-bottom: 1px solid white; 
  }
  .title {
    font-family: 'Open Sans';
    font-size: 32px;
    font-weight: 800;
    color: darken(white, 13.5);
    margin: 0;
  }
  .subtitle {
    font-family: 'Source Sans Pro';
    font-size: 20px;
    font-weight: 300;
    margin-top: 17px;
    margin-bottom: 25px;
    color: darken(white, 6.5);
    user-select: none;
    .location {
      font-family: 'Open Sans';
      font-weight: 800;
      font-size: 50%;
      color: darken(white, 13.5);
      vertical-align: top;
    }
    .location.invisible {
      color: @nearly_black;
    }
  }
  .title, .subtitle, .social {
    animation-name: slideDown;
    animation-duration: 0.2s;
  }
  .social {
    animation-name: slideUp;
  }
}

@media (max-height: 890px) { 
  .contact .avatar.loaded, .no-js .contact .avatar {
    margin-top: -210px;
    height: 180px;
    width: 180px;
    border-radius: 90px;
    background-size: 180px;
  } 
}

@media (max-height: 590px) { 
  .contact .avatar.loaded, .no-js .contact .avatar {
    margin-top: -170px;
    height: 140px;
    width: 140px;
    border-radius: 70px;
    background-size: 140px;
  } 
}