{{#extend "main"}}{{#content "body"}}
  
<div id="tab-red-studio">
  <div class="artworks">
    <object class="art-1" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
    <object class="art-2" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
    <object class="art-3" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
    <object class="art-4" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
    <br>
    <br>
    <object class="art-5" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
    <object class="art-6" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
    <object class="art-7" data="/images/red-studio/artwork.svg" type="image/svg+xml"></object>
  </div>
  <div class="ground">
    <object data="/images/red-studio/gramophone.svg" type="image/svg+xml"></object>
    <object data="/images/red-studio/sofa.svg" type="image/svg+xml"></object>
    <object data="/images/red-studio/table.svg" type="image/svg+xml"></object>
    <object data="/images/red-studio/lamp.svg" type="image/svg+xml"></object>
  </div>
  <div class="floor"></div>
</div>
 
{{/content}}{{/extend}}